[Desktop Entry]
Name=supportconfig-tmux
GenericName=supportconfig handler
Exec=supportconfig-tmux-window '%u'
Icon=kmag
Type=Application
Terminal=false
MimeType=application/x-supportconfig;
